html,
body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

img {
    max-width: 100%;
}

header {
    background-color: #2e323f;
    padding: 1em 0;
}

h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 4em 0;
}

.accent-text {
    color: #a59678;
}

.nav__list {
    list-style: none;
}

.nav__item {
    margin-bottom: 0.5em;
}

.nav__link {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    background-color: #3b4050;
    color: white;
}

.section-one {
    background-color: #e6e7eb;
}

.col {
    text-align: center;
}

.section-two-card {
    background-color: #3b4050;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
}

.section-three {
    background-color: #2e323f;
    color: white;
}

.section-three-title {
    text-align: center;
}

.card-title {
    color: white;
}

.brown-btn {
    text-decoration: none;
    background-color: #a59678;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    padding: 0.5em 1em;
}

@media (min-width: 700px) {
    .row {
        display: flex;
    }
    .intro-title {
        font-size: 2rem;
    }
    .section-two-container {
        display: flex;
        flex-direction: column;
    }
    .section-two-right-col {
        display: flex;
        flex-direction: row;
    }
    .section-two-card {
        margin: 0;
    }
    .section-two-card + .section-two-card,
    .col + .col {
        margin-left: 15px;
    }
}

@media (min-width: 1000px) {
    .row {
        display: flex;
    }
    .section-two-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section-two-left-col {
        width: 60%;
    }
    .section-two-right-col {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .section-two-card + .section-two-card {
        margin-left: 0;
        margin-top: 15px;
    }
}
