html, body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 660px;
    background-color: #f3eed9;
}

.hero-text {
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}
